<div class="content roboto" id="main">
    <div class="container">
        <a href="#">Action</a>
        <a href="#">Adventure</a>
        <a href="#">Comedy</a>
        <a href="#">Drama</a>
        <a href="#">Fantasy</a>
        <a href="#">Music</a>
        <a href="#">Romance</a>
        <a href="#">Sci-Fi</a>
        <a href="#">Seinen</a>
        <a href="#">shojo</a>
        <a href="#">Shonen</a>
        <a href="#">Slive of life</a>
        <a href="#">Sport</a>
        <a href="#">Supernatural</a>
        <a href="#">Thriller</a>
    </div>
</div>
